{% include 'header1.html.twig' %}
<div id="pageContainer">
<table>
    <tr>
    <th>Miniatura</th>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Czas</th>
    <th>Wyklucz</th>
    </tr>
    {% for post in postArray %}
        <tr>
        <td><img class="thumbnail"
                src="{{post.getFilename()}}"></td>
        <td>{{ post.getTitle() }} </td>
        
        <td>{{post.getAuthorName() }}</td>
        <td>{{ post.getTimestamp() }} </td>
        <td>
        <a href="admin/remove/{{post.getId()}}">BAN</a>
        </td>
        <tr>
    {% endfor %}
</table>
</div>
<button onclick="window.location.href='http://localhost/Marcin3/pub/'">Powrót</button>


{% include 'footer.html.twig' %}