{% include 'header.html.twig' %}
<div id="pageContainer">
    {# jeśli użytkownik jest zalogowany to pokaż #}
    <h1>{{pageTitle}}</h1>
    <div class="uzytkownik">{% if user is defined %}</div>
    <div class="post"><button onclick="window.location.href='http://localhost/Marcin3/pub/admin'">Admin Panel</button>
    <button onclick="window.location.href='http://localhost/Marcin3/pub/upload'">Nowy Post!</a></button></div>
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}
    <div id="post">
        <h2>{{ post.getTitle() }} </h2>
        <img src="{{ post.getFilename() }}">
        <h6>Punkty: {{post.getScore() }}</h6>
        <h6>Autor: {{post.getAuthorName() }}</h6>
        <h6>Data dodania: {{ post.getTimestamp() }} </h6>
    </div>
    {% endfor %}
</div>


{% include 'footer.html.twig' %}